<div class="card">
    <div class="listview lv-bordered lv-lg">
        <div class="lv-body">
            <div class="lv-item media" data-ng-repeat="connection in vm.list">                         
                <div class="media-body">
                    <div class="lv-title" data-ng-bind="connection.server"></div>
                    <small class="lv-small">Username: <span data-ng-bind="connection.username"></span>, Password: <span data-ng-bind="connection.password"></span></small>
                    <ul class="lv-attrs">
                        <li data-ng-if="connection.createdOn">Date Created: <span data-ng-bind="connection.createdOn|date:'yyyy-MM-dd HH:mm:ss'"></span></li>                        
                    </ul>
                    <div class="lv-actions actions">                        
                        <a href="" data-ng-click="vm.remove(connection._id)" popover="Remove" popover-placement="bottom" popover-trigger="mouseenter">
                            <i class="zmdi zmdi-delete"></i>
                        </a>
                        <a href="" data-ng-click="vm.open(connection._id)" popover="Panel" popover-placement="bottom" popover-trigger="mouseenter">
                            <i class="zmdi zmdi-tv-list"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
