<div class="card">
    <div class="listview lv-bordered lv-lg">
        <div class="lv-body">
            <div class="lv-item media">                         
                <div class="media-body">
                    <div class="lv-title">Dulla vel metus scelerisque ante sollicitudin commodo purus odio</div>
                    <small class="lv-small">Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</small>

                    <div class="lv-actions actions">
                        <a href="">
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="lv-item media">                         
                <div class="media-body">
                    <div class="lv-title">Dulla vel metus scelerisque ante sollicitudin commodo purus odio</div>
                    <small class="lv-small">Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</small>

                    <div class="lv-actions actions">
                        <a href="">
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="lv-item media">                         
                <div class="media-body">
                    <div class="lv-title">Dulla vel metus scelerisque ante sollicitudin commodo purus odio</div>
                    <small class="lv-small">Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</small>

                    <div class="lv-actions actions">
                        <a href="">
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="lv-item media">                         
                <div class="media-body">
                    <div class="lv-title">Dulla vel metus scelerisque ante sollicitudin commodo purus odio</div>
                    <small class="lv-small">Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</small>

                    <div class="lv-actions actions">
                        <a href="">
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>
                    </div>
                </div>
            </div>                
            

        </div>
    </div>
</div>
