<div class="card">
    <div class="card-header">
        <h2>CREATE</h2>
    </div>
    <div class="card-body card-padding">
        <form data-ng-submit="vm.save()">
            <div class="row">           
                <div class="col-log-4 col-sm-6 col-xs-12">
                    <div class="fg-line form-group">
                        <input type="text" class="form-control input-sm" placeholder="Client ID">
                    </div>
                </div>
            </div>
            <div class="row">           
                <div class="col-log-4 col-sm-6 col-xs-12">
                    <div class="fg-line form-group">
                        <input type="text" class="form-control input-sm" placeholder="Server">
                    </div>
                </div>
            </div>
            <div class="row">           
                <div class="col-log-4 col-sm-6 col-xs-12">
                    <div class="fg-line form-group">
                        <input type="text" class="form-control input-sm" placeholder="Port">
                    </div>
                </div>
            </div>
            <div class="row">           
                <div class="col-log-4 col-sm-6 col-xs-12">
                    <div class="fg-line form-group">
                        <input type="text" class="form-control input-sm" placeholder="Username">
                    </div>
                </div>
            </div>
            <div class="row">           
                <div class="col-log-4 col-sm-6 col-xs-12">
                    <div class="fg-line form-group">
                        <input type="text" class="form-control input-sm" placeholder="Password">
                    </div>
                </div>
            </div>
            <div class="row">           
                <div class="col-log-4 col-sm-6 col-xs-12">
                    <div class="form-group">                    
                        <button type="submit" class="btn btn-primary btn-sm m-t-5">Save</button>
                        <button type="button" class="btn btn btn-success btn-sm m-t-5" data-ng-click="vm.go('connections.list')">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>