
<div class="card">
    <div class="card-header ch-alt">
        <h2>Relay 1 <small>Pellentesque ac lectus sed elit dictum vehicula</small></h2>
        <ul class="actions">
            <li>
                <a href="">
                    <i class="zmdi zmdi-edit"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="zmdi zmdi-delete"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="card-body card-padding">        
        <div class="btn-group">
            <label class="btn btn-primary" data-ng-model="vm.state" uib-btn-radio="'0'">Off</label>
            <label class="btn btn-primary" data-ng-model="vm.state" uib-btn-radio="'1'">On</label>
            <label class="btn btn-primary" data-ng-model="vm.state" uib-btn-radio="'2'">Auto</label>
        </div>               
    </div>
</div>