
<div class="card" data-ng-repeat="item in vm.list">
    <div class="card-header ch-alt">
        <h2><span data-ng-bind="item.friendlyName"></span> <small data-ng-bind="item.description"></small></h2>
        <ul class="actions">
            <li>
                <a href="" data-ng-click="vm.edit(item._id)">
                    <i class="zmdi zmdi-edit"></i>
                </a>
            </li>
            <li>
                <a href="" data-ng-click="vm.delete(item._id)">
                    <i class="zmdi zmdi-delete"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="card-body card-padding">       
        <div class="row">
            <div class="col-sm-2">
                <p><i class="zmdi zmdi-dot-circle zmdi-hc-fw"></i><span data-ng-bind="item.valueOn"></span> <code data-ng-bind="item.textOn"></code></p> 
            </div>
            <div class="col-sm-2">
                <p><i class="zmdi zmdi-circle-o zmdi-hc-fw"></i><span data-ng-bind="item.valueOff"></span> <code data-ng-bind="item.textOff"></code></p> 
            </div>
            <div class="col-sm-2">
                <p><i class="zmdi zmdi-refresh-alt zmdi-hc-fw"></i><span data-ng-bind="item.valueAuto"></span> <code data-ng-bind="item.textAuto"></code></p> 
            </div>
            <div class="col-sm-2">
                <p data-ng-if="item.value"><i class="zmdi zmdi-caret-right-circle zmdi-hc-fw"></i><code data-ng-bind="item.value"></code></p> 
            </div>
        </div>
        <div class="btn-group">
            <label class="btn btn-primary" data-ng-model="item.value" uib-btn-radio="'{{item.valueOn}}'" data-ng-bind="item.textOn" data-ng-click="vm.publish(item._id, item.value)"></label>
            <label class="btn btn-primary" data-ng-model="item.value" uib-btn-radio="'{{item.valueOff}}'" data-ng-bind="item.textOff" data-ng-click="vm.publish(item._id, item.value)"></label>
            <label class="btn btn-primary" data-ng-model="item.value" uib-btn-radio="'{{item.valueAuto}}'" data-ng-bind="item.textAuto" data-ng-click="vm.publish(item._id, item.value)"></label>
        </div>               
    </div>
</div>